<h1><%= @lang[:long_descr] %></h1>


<%= form_tag(dictionary_show_path, method: 'get') do %>
    <%= text_field_tag('word',
                       @word ? @word : 'Enter word here',
                       maxlength: 50,
                       class: 'field') %>
    <%= hidden_field_tag('lang', @lang[:id]) %>
    <%= submit_tag('Find', class: "btn btn-small btn-primary") %>
<% end %>

<% if @word %>
    <% if @description %>
      <%= @description %>
    <% else %>
      Sorry, we couldn't find anything.
    <% end %>
<% end %>